# Rust build folder
/target/

# Cargo build artifacts
**/*.rlib
**/*.rmeta
**/*.d
**/*.so
**/*.dll
**/*.exe

# Rust temporary/backups
**/*.rs.bk
**/*.rs.tmp

# Lock file (opsional, biasanya tetap di-commit)
/Cargo.lock

# IDE/editor files
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.DS_Store

# Simulation / plotting output (opsional, default di-ignore)
*.csv
*.dat
*.gp
*.png

# WOKWI / embedded simulation folder
.wokwi/

# Logs
*.log
